
<!DOCTYPE html>
{{ define "base" }}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }}</title>
</head>
<body>
    <header>  
            <div>
                <a href="/">RPS</a>
            </div>
    </header>
    <nav>
        <a href="/about">About</a>
        <a href="/newGame">Nuevo Juego</a>
        <a href="/game">Juego</a>
    </nav>

        {{ template "content" . }}
    
    <footer> Creado por Juan Daniel &copy; 2025</footer>
    
</body>
</html>
{{ end }}